<div class="card border-primary mb-3 text-center" style="max-width: auto">
  <div class="card-header"><h5>Tenant Details</h5></div>
  <div class="card-body text-primary">
    <div class="row">
      <div class="col-sm-4">
        <div class="card border-dark mb-3" style="max-width: auto">
          <div class="card-header text-success">First Name</div>
          <div class="card-body text-dark">
            <p class="card-text">
             {{tenant.firstName}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-dark mb-3" style="max-width: auto">
          <div class="card-header text-success">Last Name</div>
          <div class="card-body text-dark">
            <p class="card-text">
              {{tenant.lastName}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-dark mb-3" style="max-width: auto">
          <div class="card-header text-success">Phone Number</div>
          <div class="card-body text-dark">
            <p class="card-text">
             {{tenant.phoneNumber}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
