  <div class="card border-primary mb-3" style="max-width: auto">
    <div class="card-header"></div>
    <div class="card-body text-dark">
      <div class="row">
      <div class="col-sm-6">
        <div
          class="card border-primary mb-3"
          style="max-width: auto"
        >
          <div class="card-header"><h5>Tenant Details</h5></div>
          <div class="card-body text-success">
            <p class="card-text">
              <b>Name:</b> {{ tenant.firstName }} {{ tenant.lastName }}
            </p>
            <p><b>Phone:</b> {{ tenant.phoneNumber }}</p>
            <p><b>ID Number:</b> {{ tenant.idNumber }}</p>
            <p><b>Start of lease Date:</b> {{ tenant.dateOfLease }}</p>
            <p><b>Months paid:</b> {{ tenant.monthsPaid }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="card border-primary mb-3"
          style="max-width: auto"
        >
          <div class="card-header"><h5>House Details</h5></div>
          <div class="card-body text-info">
            <p class="card-text">
              <b>House:</b> {{tenant.houseNumber}}
            </p>
            <p><b>House Type:</b> {{tenant.houseType}}</p>
            <p><b>Rent rate:</b> {{tenant.rate}}</p>
            <p><b>Last date of payment:</b> {{ tenant.dateOfTransaction }} </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

