<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="tenants" routerLinkActive="active" class="nav-link">Tenant List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-tenant" routerLinkActive="active" class="nav-link">Create Tenant</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>All rights reserved 2021 @Bob</span>
    </div>
</footer>
