<div class="card border-dark mb-3" style="max-width: auto">
  <div class="card-header text-success"><h3>Update Tenant</h3></div>
  <div class="card-body text-dark">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="tenant.firstName"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="tenant.lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          [(ngModel)]="tenant.phoneNumber"
          name="phoneNumber"
        />
      </div>

      <div class="form-group">
        <label>Id Number</label>
        <input
          type="text"
          class="form-control"
          id="idNumber"
          [(ngModel)]="tenant.idNumber"
          name="idNumber"
        />
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
        <label>House Name:</label>
            <input
              type="text"
              class="form-control"
              id="houseNumber"
              [(ngModel)]="tenant.houseNumber"
              name="houseNumber"
            />
          </div>
          <div class="col-sm-4">
            <label>House Type:</label>
            <input
              type="text"
              class="form-control"
              id="houseType"
              [(ngModel)]="tenant.houseType"
              name="houseType"
            />
          </div>
          <div class="col-sm-3">
            <label>House Rent Rate:</label>
            <input
            type="text"
            class="form-control"
            id="rate"
            [(ngModel)]="tenant.rate"
            name="rate"
          />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Start of Lease Date: </label>
        <input
          type="Date"
          class="form-control"
          id="dateOfLease"
          [(ngModel)]="tenant.dateOfLease"
          name="dateOfLease"
        />
      </div>

      <div class="form-group">
        <label>Months Paid: </label>
        <div class="row">
          <ul
            class="list-group list-group-flush list-group-horizontal"
            *ngFor="let monthItem of paid"
          >
            <div class="col-sm-6">
                <input
                  type="checkbox"
                  name="{{ monthItem.month }}"
                  [(ngModel)]="monthItem.isSelected"
                >
                <label for="{{ monthItem.month }}">{{ monthItem.month }}</label>
            </div>
          </ul>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success">Update</button>
    </form>
  </div>
</div>
